.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 30px;
    height: 30px;
    margin-bottom: -2px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
  background: #8b0000;
}

.slides-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}