.slide1-container{
    background: linear-gradient(135deg, #ffffff, #2d1b69, #ffffff, #17052e);
    height: 77vh;
}

.content .rose-bg{
    width: 29%;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 35%;
}

.content .art-bg{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}


.cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.card1,
.card2,
.card3 {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  color: #fff;
  flex: 1;
  text-align: center;
}

.card1 img,
.card2 img,
.card3 img{
    width: 120px;
    height: 120px;
}
.card1 h3,
.card2 h3,
.card3 h3{
    margin-top: -10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card1 p,
.card2 p,
.card3 p{
    font-size: 12px;
    margin-top: -10px;
    color: rgb(201, 201, 201);
}

.card2 h3 span img{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.card2 h3 span{
    color: #c9a84c;
}

